*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, darkseagreen, white); /* Aqui esta la gradiente */
}

/* Cabecera */

header {
    background-image: url("../Imagenes/selva_urbana.jpg");
}

.header__navegador {
    text-align: center;
    float: right;
    margin-right: 3rem;
}

.header__navegador ul {
    list-style: none;
}

.header__navegador ul li {
    display: inline;
}

.header__navegador ul li a {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-weight: bold;
}

.header__navegador ul li a:hover {
    background-color: darkseagreen;
    color: gainsboro;
}

.header__Titulo-Principal {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__Titulo-Principal h1 {
    color: floralwhite;
    text-align: center;
    text-decoration: underline floralwhite;
    padding-top: 10vh;
    font-size: 120px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
}

.header__Titulo-Principal h2 {
    color: floralwhite;
    text-align: center;
    text-decoration: underline floralwhite;
    padding-top: 5vh;
    padding-bottom: 10vh;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
}

/* Fin cabecera */

/* Comienzo seccion slider */

.Primera-Seccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 2rem;
}

.Primera-Seccion__presentacion {
    width: 60%;

}

.Primera-Seccion__presentacion h3 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Fin seccion Slider */

/* Comienza Seccion Tarjetas - Aqui esta la animacion de las cards del BLOG */

.Titulo__Seccion-Dos{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 1rem;
    font-weight: 100;
}

.Seccion-Dos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.Seccion-Dos__Card{
    width: 330px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.Seccion-Dos .Seccion-Dos__Card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.Seccion-Dos .Seccion-Dos__Card img{
    width: 330px;
    height: 220px;
}

.Seccion-Dos .Seccion-Dos__Card h4{
    font-weight: 600;
}

.Seccion-Dos .Seccion-Dos__Card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.Seccion-Dos .Seccion-Dos__Card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/* Fin Seccion tarjetas */

/* Comienzo seccion contacto - formulario de contacto */

.seccion__contacto , .tabla {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fin seccion contacto - formulario de contacto */


/* Comienzo footer */

footer {
    background-image: url("../Imagenes/selva_urbana.jpg");
    height: auto;
    clear: both;
}

.footer__botonera {
    margin: 35px;
    display: inline-block;
    padding-left: 25px;
}

.footer__botonera ul {
    list-style: none;
}

.footer__botonera ul li {
    padding: 5px 5px 5px 5px;
    display: inline;
}

.footer__botonera ul li a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    color: white;
}

.footer__formulario {
    margin: 10px;
    float: right;
    color: white;
    font-weight: bold;
}

/* Fin Footer */
